---
import '@/styles/app.css'
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  siteName?: string
  description?: string
  cover: string
  author?: string
}

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)

const {
  title,
  siteName = 'Equation Snippets',
  description,
  cover,
  author = 'ldavidson8',
} = Astro.props
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

<meta name="robots" content="index,follow" />
<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<!-- End Favicons -->

<meta name="theme-color" content="#ffffff" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalUrl} />
<link rel="alternate" href={Astro.site} hreflang="x-default" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="copyright" content={author} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:site_name" content={siteName} />
<meta property="og:locale" content="en" />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(cover, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(cover, Astro.url)} />

<ClientRouter />
<Font cssVariable="--font-ibm-plex-mono" preload />
